img {
    width: 100px;
}

body{
    text-align: center;
    font-family: "Comic Sans MS";
    background-image: url("night.gif");

}

#img.source-image{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}